      </div>

      <div id="footer">
	<div class="hr"><hr/></div>

    <p class="footer-contact">
  LEARNING UNLIMITED &nbsp;•&nbsp;
  <a href="mailto:info@learningu.org">INFO@LEARNINGU.ORG</a>
  &nbsp;•&nbsp;
  <a href="tel:+16173790178">617-379-0178</a>
</p>
      </div>
    </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ?  "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11039829-1");
pageTracker._trackPageview();
} catch(err) {}
</script>

  </body>
</html>
